chromadb==0.4.24
google-genai==0.8.3
groq==1.0.0
langchain-community==0.4.1
langchain-google-genai==4.1.2
langchain-text-splitters==1.1.0
pandas==2.3.3
protobuf==6.33.2
python-dotenv==1.2.1
PyYAML==6.0.3
scikit-learn==1.8.0
streamlit==1.52.2
tqdm==4.67.1
